*{
	padding:0;
	margin:0;
	font-family: 'Montserrat', sans-serif;
	box-sizing: border-box;
	background-size: cover;
}



body{
	min-width: 1500px;
}



body h1{

}

.header{
	padding-top: 30px;
	color: #475a68;
}

.header,
.header>article{
	display: flex;
	justify-content:center;

}
.header>img{
	margin-left: 50px;
	border-radius: 20%;
	width:150px;
	height: 120px;

}


.header>article>i{
	font-size: 20px;
	margin-right: 10px;
}



.header>article{
	margin-top: 40px;

}


.header>article,
.header>img{
	margin-right: 100px;
}

.dor{
	display: flex;
	position: relative;

}

.dor>img{
	min-width: 70%;
	margin-top: 60px;
	width: 70%;
	align-items: center;
	display: block; 
	margin-left: auto; 
	margin-right: auto; 
	height: 50%;

}


body>h1{
	color: #475a68;
	text-align: center;
	font-size: 56px;
	margin: 0 auto;
	z-index: 2;
}

.dor>span{
	justify-content: center;
	background-color: rgba(0, 0, 0, .7);
	width: 70%;
	height: calc(100% - 60px);
	z-index: 0;
	position: absolute;
	left: 50%;
	bottom: 0;
	transform: translate(-50%, 0);
}


.dost{
	color:#475a68;
	display: grid;
}
	
.dost>article>i{
	font-size: 60px;
	margin-top: 100px;
	color:#6c7b2a;
}

.dost{
	grid-template-columns: 1fr 1fr 1fr;
	text-align: center;
	
}


.dost>article>h1{
	font-size: 35px;
	margin-top: 25px;
}

.dost>article>p{
	margin-top: 20px;
}

.prem{
	margin-top: 60px;
	background-image: url(images/pre.jpg);
}

.prem>h1{
	
	text-align: center;
	padding-top: 60px;
	font-size: 40px;
	background: url(images/jpg.jpg);
	color: transparent;
	-webkit-background-clip:text;
	animation: animate 7s infinite linear;
}

.prem>h2{
	color:#475a68;
}

@keyframes animate{
	from{
		background-position: 0 0;
	}
	to{
		background-position: 100% 100%
	}

}

.prem>h2{
	text-align: center;
	margin: 20px;
	padding-bottom: 40px;
}

.qr{
	display: flex;
	padding-top: 100px;
	padding-bottom: 100px;
	justify-content: center;
}

.prem>article{
	display: flex;
  	text-align: center;
  	justify-content: space-around;
}

.qr>img{
	width: 300px;
	height: 300px;
}

.footer{
	padding-top: 70px;
	background-color: #817f85;
	color: #f5f5f5;
}

.footer>h1{
	color: #f5f5f5;
	text-align: center;
	font-size: 40px;
}

.footer>article{
	display: flex; 
	justify-content: space-around;

}

.footer>article>article{
	color: white;
	margin-top: 50px;
	display: flex;
	font-size: 20px;
	padding-bottom: 50px;
}

.footer>article>article>h2{
	color: #f5f5f5;
}

.footer>article>article>i{
	margin-right: 10px;
}

@media only screen and (max-device-width: 480px) {
  .header>article>h1{
  	font-size: 30px;
  }
  .header>article>i{
  	font-size: 30px;
  }
  .header>img{
  	margin-top: 30px;
  }
  .dost{
  	grid-template-columns: 1fr;
  	font-size: 30px;
  }
  .dost>article>i{
  	font-size: 80px;
  }
  .prem>h1{
  	font-size: 70px;
  }
  .prem>article{
  	display: flex;
  	flex-direction: column;
  }
  .prem>article>article{
  	flex-direction: column;
  	text-align: center;
  }
  .prem>article>article>h2{
  	font-size: 30px;
  }
  .footer>article{
  	flex-direction: column;
  	justify-content: center;

  }
 .footer>article>article{
  	justify-content: center;
  }
}